body{
    margin: 0%;
    margin-right: 0%;
}
@media (max-width:770px){
    body{
        margin-right: -121%;
    }
}
ul li{
    list-style: none;
}
.menu_wrapper{
    /* background-color: #ffffff; */
    text-decoration: none;
    height: 80px;
    background-color: #efcd9b;
    margin-top: -17px;
}
@media (max-width:770px){
    .menu_wrapper{
        height: auto;
        margin-bottom: 0%;
    }
}

.menuu{
    color: #444444;
    font-family: Arial, Helvetica, sans-serif
}

a:link{
    text-decoration: none;
}
.inlineList {
    display: flex;
    justify-content: space-around; 
    text-decoration: none;
    padding-top: 30px;

    /* text-align: center; */
}
@media (max-width:770px){
    .inlineList{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
}
.container1{
    height: 650px;
    width: 100%;
    background-color: #efcd9b;
    /* display: flex; */
    justify-content: space-between;
}
@media (max-width:770px){
    .container1{
        height: auto;
        margin-top: -17px;
    }
}
#con1img1{
    /* text-align: right; */
    height: 400px;
    width: auto;

}
@media (max-width:770px){
    #con1img1{
        height: 10px;
        
    }
}
.container1_1_3{
    display: flex;
}
@media (max-width:770px){
    .container1_1_3{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    #con1img1{
        /* text-align: right; */
        margin-left: 251px;
    }
}
.container1_1_3_2{
    display: flex;
}
.container1_1_3_2.p{
    font-size: 20px; 
    padding-left: 120px;
}
@media (max-width:770px){
    .container1_1_3_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.container1_1_3_2p2{
    font-size: 20px; 
    padding-left: 120px; 
    padding-left: 300px;
}
@media (max-width:770px){
    .container1_1_3_2p2{
        padding-left: 0%;
    }
    
}
.container1_1{
    margin-left: 80px;
    /* display: flex; */
}
@media (max-width:770px){
    .container1_1.h1{
    padding-left: 20px;
    }
    
}
.container1_2{
    margin-left: 60px;
    text-align: right;
}
.button_alignalign_center{
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-width: 0px;
    border-radius: 20px;
    color: white;
    background-color: #0b2dda;
    border-style: solid;
    width: 162px;
    margin-top: 10%;
    margin-block-end: 8.33em;
}
.socullli{
    display: flex;
    justify-content: space-between;
    padding-right: 1px;
    padding-top: 19px;

}
.container2{
    height: 1200px;
    width: 100%;
}
@media (max-width:770px){
    .container2{
        height: auto;
    }
    
}
.container2_1{
    display: flex;
    justify-content: space-around;

}
@media (max-width:770px){
    .container2_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.container2_1_1{
    display: flex;
}
@media (max-width:770px){
    .container2_1_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.container2_1_2{
    height: 250px;
    width: 500px;
    background-color: #efcd9b;
    box-shadow:#444444;
    border-radius: 10px;
}
@media (max-width:770px){
    .container2_1_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.button_alignalign_center2{
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-width: 0px;
    border-radius: 20px;
    color: white;
    background-color: #0b2dda;
    border-style: solid;
    width: 162px;
    margin-top: 10%;
    margin-block-end: 8.33em;
    margin-left: 100px;
}
@media (max-width:770px){
    .button_alignalign_center2{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
}
.container2_2{
    display: flex;
    justify-content: space-around;
    
}
@media (max-width:770px){
    .container2_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.container2_2_1{
    
}
.container2_2_2{
    /* padding-left: 100px; */
    padding-top: 70px;
}
@media (max-width:770px){
    .container2_2_2{
        text-align: center;
    }
    
}
.span{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}
@media (max-width:770px){
    .span{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
    }
    
}
.container3{
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #0b1556;
    background-image: url(https://themes.muffingroup.com/be/landing4/wp-content/uploads/2022/01/landing4-section-bg2.webp);
    background-repeat: no-repeat;
    background-position: right top;
    height: 1300px;
    z-index: 9;
}
@media (max-width:770px){
    .container3{
        height: auto;
    }
    
}
.container3_1_1{
    display: flex;
}
@media (max-width:770px){
    .container3_1_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.container3_1{
    z-index: 0;
    width: 500px;
}
.container3_2{
    padding: 160px 0px 120px;
    background-image: url(https://themes.muffingroup.com/be/landing4/wp-content/uploads/2022/01/landing4-wrap-bg2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    height: 170px;
    z-index: 0;
    width: 500px;
}
@media (max-width:770px){
    .container3_2{
        margin-left: -142px;
    }
    
}
#container3img2{
    height: 550px; 
    padding-left: 130px; 
    padding-top: 130px;
}
@media (max-width:770px){
    #container3img2{
        margin-left: -98px;
        width: 645px;
    }
    
}
#con3img1:hover{
    height: 250px;
}
.button_alignalign_center3{
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-width: 0px;
    border-radius: 20px;
    color: white;
    background-color: #0b2dda;
    border-style: solid;
    width: 162px;
    margin-top: 10%;
    margin-block-end: 8.33em;
    margin-left: 390px;
}
@media (max-width:770px){
    .button_alignalign_center3{
        margin-bottom: 10px;
        margin-left: 239px;
    }
    
}
.container4{
    height: 6500px;
}
@media (max-width:770px){
    .container4{
        height: auto;
    }
    
}
.container4_1{
    display: flex;
    padding-left: 100px;
    padding-top: 150px;
    /* justify-content: space-between; */
}
@media (max-width:770px){
    .container4_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.container4_1_2{
    /* margin-left: 20px; */
    padding-left: 30px;
}
.container4_2{
    display: flex;
    padding-left: 100px;
    padding-top: 150px;
    /* justify-content: space-between; */
}
@media (max-width:770px){
    .container4_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.container4_2_1{
    /* margin-left: 20px; */
    padding-left: 30px;
}
.container4_3_1{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width:770px){
    .container4_3_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.container4_3_1_1{
    display: flex;
}
.container4_3_2{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
}
@media (max-width:770px){
    .container4_3_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.container4_3_3{
    padding: 60px 6% 60px;
    background-color: #16226e;
    background-image: url(https://themes.muffingroup.com/be/landing4/wp-content/uploads/2022/01/landing4-wrap-bg1.webp);
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 50px;
    height: 130px;
    padding-left: 200px;
    width: 60%;
    margin-left: 120px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
@media (max-width:770px){
    .container4_3_3{
        height: 350px;
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        margin-left: 0%;
    }
    
}
.container4_3_4{
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
}
@media (max-width:770px){
    .container4_3_4{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;

    }
    
}
.container4_3_3_1{
    display: flex;
    justify-content: space-around;
    margin-top: -78px;
    padding-left: 130px;
}
@media (max-width:770px){
    .container4_3_3_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        /* padding-left: 1px; */
        margin-left: -251px;
        margin-top: 10px;
    }
    
}
.container4_3_4_1{
    padding-left: 100px;
    margin-top: 200px;
}

@media (max-width:770px){
    .container4_3_4_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        padding-left: 182px;
    }
    
}
@media (max-width:770px){
    .container4_3_4_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        padding-left: 182px;
        padding-top: 95px;
    }
    
}
.container4_3_4_1_1{
    height: 500px;
    width: 450px;
    /* width: auto; */
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0px 15px 34px 0px rgba(47,34,109,0.08);
    text-align: center;
    
}
.container4_3_4_1_2{
    margin-top: 100px;
}
.container4_4{
    padding: 60px 6% 60px;
    background-color: #16226e;
    background-image: url(https://themes.muffingroup.com/be/landing4/wp-content/uploads/2022/01/landing4-wrap-bg1.webp);
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 50px;
    height: 450px;
    padding-left: 200px;
    width: 60%;
    margin-left: 120px;
    margin-top: 100px;
    /* display: flex; */
    /* flex-direction: column; */
}
@media (max-width:770px){
    .container4_4{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        height: auto;
        margin-left: 5%;
    }
    
}
.container4_4_1{
    margin-left: -100px;
    padding-top: 91px;
}
.container4_4_2{
    margin-top: -122px;
}
@media (max-width:770px){
    .container4_4_2{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
        height: auto;
        margin-top: 10px;
    }
    
}
.container4_4_2_img{

}
#container4_4_2_img1{
    
}
@media (max-width:770px){
    .container4_4_2_img{
        height: 300px;
    }
    #container4_4_2_img1{
        margin-left: -460px;
        padding-top: 300px;
    }
    
}
.container4_4_1_1{
    width: 877px;
    padding-top: 113px;
    justify-content: space-between;
    display: flex;
}
@media (max-width:770px){
    .container4_4_1_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    
}
.containerinear{
    background-color: #fcf9f1;
    height: 1100px;
}
.container4_5_1{
    display: flex;
    justify-content: space-around;
}
@media (max-width:770px){
    .container4_5_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    .containerinear{
        height: auto;
    }
    
}
.container4_5_1_1{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 15px 34px 0px rgba(47,34,109,0.08);
    height: 700px;
    width: 330px;
    background-color: white;
}
@media (max-width:770px){
    .container4_5_1_1{
        margin-top: 30px;
    }
    .containerinear{
        height: auto;
    }
    #container4_5img1{
        margin-left: -19%;
        width: 370px;
    }
    
}
.container4_5_1_1_1{
    width: 330px;
    height: 100px;
    background-color: #fcf9f1;
    border-radius: 10px;
    margin-top: -21px;
}
.button_alignalign_center4{
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px 15px 30px;
    border-width: 0px;
    border-radius: 20px;
    color: white;
    background-color: #0b2dda;
    border-style: solid;
    width: 162px;
    margin-top: 33%;
    margin-block-end: 8.33em;
    margin-left: 54px;
}
.container4_5_1_1_2{
    width: 330px;
    height: 100px;
    /* background-color: #fcf9f1; */
    border-radius: 10px;
    margin-top: -21px;
    background: linear-gradient(180deg, rgba(243,206,110,1) 0%, rgba(234,169,81,1) 100%);
}
.container4_5_1_1_2_1{
    text-align: center;
    /* border: solid black; */
    border-radius: 30px;
    width: 300px;
    margin-left: 10px;
    background-color: #fbebc9;
    color: #c64930;
}
.container4_5img{

}
@media (max-width:770px){
    .container4_5img{
        margin-left: 0%;
    }
    
}
#container4_5img1{

}
@media (max-width:770px){
    .container4_5img1{
        width: 300px;
    }
    
}
.loli{
    padding-top: 50px;
    text-align: center;
}
.footer{
    background-color: #fcf9f1;
    height: auto;
}
.frm1{
    text-align: center;
    display: flex;
    padding-left: 355px;
}
@media (max-width:770px){
    .frm1{
        padding-left: 0%;
        display: flex;
        flex-direction: column;
    }
    
}
.frm1_2{
    margin-left: 5px;
}
@media (max-width:770px){
    .frm1_2{
        padding-top: 30px;
        
    }
    
}
.frm2{
    padding-top: 30px;
    text-align: center;
    display: flex;
    padding-left: 355px;
}
@media (max-width:770px){
    .frm2{
        padding-left: 0%;
        display: flex;
        flex-direction: column;
    }
    
}
.frm2_2{
    margin-left: 5px;
}
@media (max-width:770px){
    .frm2_2{
        padding-top: 30px;
        
    }
    
}
.frm3{
    padding-top: 30px;
    text-align: center;
}
#frm3textarea{
    border-radius: 10px; 
    height: 100px;
    width: 607px;
}
@media (max-width:770px){
    #frm3textarea{
        width: 407px;
    }
    
}
.frm4{
    padding-top: 30px;
    text-align: center;
}
.fo_1{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}
@media (max-width:770px){
    .fo_1{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
}
.fo_1_3{
    display: flex;
    flex-direction: column;
}